[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = before-the-pod.default.svc

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = before-the-pod
DNS.2 = before-the-pod.default
DNS.3 = before-the-pod.default.svc
